*.class

# Package Files #
*.jar
*.war
*.ear

build
target
*/target
*/*/target
bin
*/bin
*/*/bin

.project
.classpath
*/.project
*/.classpath
*/*/.project
*/*/.classpath

.settings
*/.settings
*/*/.settings

.classpath

